/* Stile di base per l'header */
.header {
    padding: 20px 0;
    text-align: center;
    position: relative;
    overflow: hidden;
  }

  .title-box {
    display: flex;
    flex-direction: row-reverse;
  }

  .title-box > p {
    padding: 10px;
    width: 60%;
  }

  .title-box > app-title {
    padding: 10px;
    width: 40%;
  }
  
  /* Ombra del testo per un effetto di profondità */
  .title {
    font-size: 3em;
    margin: 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    animation: textAnimation 3s ease-in-out infinite;
  }
  
  /* Barra decorativa animata sotto l'header */
  .header::after {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background: #fc0000;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: slide 5s linear infinite;
  }
  
  /* Navigazione con link stilizzati */
  nav {
    margin-top: 15px;
  }

  
  /* Animazione di transizione per il testo */
  @keyframes textAnimation {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
  /* Animazione di scorrimento per la barra decorativa */
  @keyframes slide {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  